<div class="container-fluid mt-4">
    <div class="row mb-2">
        <div class="col-sm-6">
            <button class="btn btn-outline-primary mr-3" (click)="openModal(template)"><i class="fal fa-arrow-alt-from-bottom"></i> Send</button>
            <ng-template #template>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Send Currency</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Currency</label>
                                <select id="inputState" class="form-control">
                  <option selected>Some Currency</option>
                  <option>Another Something</option>
                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">From</label>
                                <select id="inputState" class="form-control">
                  <option selected>Some Wallet</option>
                  <option>Another Something</option>
                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputWalletAddress">To</label>
                            <div class="d-flex align-items-center">
                                <input type="text" class="form-control" id="inputWalletAddress" placeholder="Paste or Select an Address">
                                <i class="fal fa-qrcode fa-2x ml-2"></i>
                            </div>
                        </div>
                        <div class="form-row d-flex align-items-center">
                            <div class="form-group col-md-5">
                                <label for="inputAddress2">Amount</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="0.00">
                            </div>
                            <div class="form-group col-md-2">
                                <label class="w-100" for="">&nbsp;</label>
                                <i class="fal fa-arrows-h text-center w-100"></i>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="">&nbsp;</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="0.00">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputCity">Description</label>
                                <textarea type="text" class="form-control" id=""></textarea>
                            </div>
                        </div>
                        <div class="form-row d-flex align-items-center justify-content-between">
                            <div class="form-group col-md-6">
                                <label for="">Transaction Fee</label>
                                <select id="" class="form-control">
                                  <option selected>Some Fee</option>
                                  <option>Another Something</option>
                                </select>
                            </div>
                            <div class="">
                                <h4 class="m-0">$1234.99</h4>
                                <div class="font-weight-light small-text text-primary">Some Coin Name</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mt-3">Continue</button>
                    </form>
                </div>
            </ng-template>
            <button class="btn btn-outline-primary"><i class="fal fa-arrow-alt-from-top"></i> Request</button>
        </div>
        <div class="col-sm-6 d-flex flex-column text-right">
            <span class="h4">Wallet Balance</span>
            <span class="h5 text-success font-weight-bold">$1,234.56</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form class="search">
                <input class="form-control w-100 mr-2" type="search" placeholder="View Single Block (type hash)" name="blockHash" aria-label="View Single Block (type hash)" [(ngModel)]="selectedBlockHash">
                <button class="btn btn-primary mr-2" (click)="getBlockData()">View</button>
                <button class="btn btn-primary" (click)="getLatestBlockData()" *ngIf="!showingLatestBlock">Show Latest Block</button>
            </form>
        </div>
    </div>
    <hr />
    <div class="row mb-3" *ngIf="blockData !== undefined">
        <div class="col-lg-8 col-md-12 col-sm-12 border-right mt-2">
            <div class="card">
                <div class="card-body">
                    <h3><span *ngIf="showingLatestBlock">Latest</span> Block</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Hash</th>
                                    <th>Time</th>
                                    <th>Index</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{blockData.hash}}</td>
                                    <td>{{blockData.time}}</td>
                                    <td>{{blockData.block_index}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <form class="search">
                        <input class="form-control" type="search" placeholder="Filter Transactions" name="transactionFilter" aria-label="Filter Transactions" [(ngModel)]="transactionIndex">
                    </form>
                    <br>
                    <div class="block-data">
                        <button [ngClass]="{'active':  transaction   === selectedTransactionIndex}" class="btn btn-sm btn-outline-primary mr-1 mb-1" *ngFor="let transaction of blockData.txIndexes | filter: '' : transactionIndex " (click)="getTransactionData(transaction) ">
                                    {{transaction}}
                                  </button>
                        <button [ngClass]="{'active':  transaction.tx_index   === selectedTransactionIndex}" class="btn btn-sm btn-outline-primary mr-1 mb-1" *ngFor="let transaction of blockData.tx  | filter: 'tx_index' : transactionIndex" (click)="getTransactionData(transaction.tx_index)">                    {{transaction.tx_index}}
                                  </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <h3>Transaction Details</h3>
                    <h6 class="font-weight-light" *ngIf="transaction === undefined">
                        Select a transaction to view details</h6>
                    <div class="transaction-data" *ngIf="transaction !== undefined">
                        <ul class="list-group mt-3">
                            <li class="list-group-item">Hash: {{transaction.hash}}</li>
                            <li class="list-group-item">Block Height: {{transaction.block_height}}</li>
                            <li class="list-group-item">Double Spend: {{transaction.double_spend}}</li>
                            <li class="list-group-item">Lock Time: {{transaction.lock_time}}</li>
                            <li class="list-group-item">Relayed By: {{transaction.relayed_by}}</li>
                            <li class="list-group-item">Size: {{transaction.size}}</li>
                            <li class="list-group-item">Time: {{transaction.time}}</li>
                            <li class="list-group-item">TX Index: {{transaction.tx_index}}</li>
                            <li class="list-group-item">Ver: {{transaction.ver}}</li>
                            <li class="list-group-item">Vin SZ{{transaction.vin_sz}}</li>
                            <li class="list-group-item">Vout SZ{{transaction.vout_sz }}</li>
                            <li class="list-group-item">Weight: {{transaction.weight}}</li>
                            <li class="list-group-item">
                                Inputs:
                                <div *ngFor="let input of transaction.inputs">
                                    <ul class="list-group">
                                        <li class="list-group-item">Script: {{input.script}}</li>
                                        <li class="list-group-item">Sequence: {{input.sequence}}</li>
                                        <li class="list-group-item">Witness: {{input.witness}}</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>