@import "../../assets/theme";
.container-fluid {
    padding-left: 24px;
    padding-right: 24px;
    .card {
        background-color: $light-gray;
        border: none;
    }
}

form {
    &.search {
        display: flex;
        align-items: center;
        i {
            color: $muted;
            font-size: 24px;
            &:hover {
                cursor: pointer;
                color: $black;
            }
        }
    }
}

.block-data {
    max-height: 275px;
    overflow: auto;
    button {
        width: 98px;
    }
}

.transaction-data {
    max-height: 450px;
    overflow: auto;
    .list-group-item {
        font-size: 12px;
    }
}